html {
    height: 100%;
}
body {
    min-height:100%;
    position:relative;
    padding-bottom: 80px;
}





/* Global settings */



.product-image {
    float: left;
    width: 20%;
}

.sub-product-image {
    min-width: 100px;
    min-height: 120px;
    max-width: 100px;
    max-height: 120px;
}

.product-details {
    float: left;
    width: 37%;
}

.product-price {
    float: left;
    width: 12%;
}

.product-quantity {
    float: left;
    width: 10%;
}

.product-removal {
    float: left;
    width: 9%;
}

.product-line-price {
    float: left;
    width: 12%;
    text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
    content: '';
    display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
    clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
    zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {

}
#shopping_cart_header {
    font-family: Verdana;
    /*font-weight: bold;*/
    color: #0a3251;
}


/* Body/Header stuff */
body {
    /*padding: 0px 30px 30px 20px;*/
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    /*font-weight: 100;*/
}

h1 {
    font-weight: 100;
}

label {
    color: #aaa;
}


#shopping_cart_header {
    padding-left: 7.5%;
}


.shopping-cart {
    margin-top: -45px;
    padding: 0px 7.5% 7.5% 20px;
}

/* Column headers */
.column-labels label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
    text-indent: -9999px;
}

/* Product entries */
.product {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


.product .product-image {
    text-align: center;
}

.product .product-image img {
    width: 100px;
}

.product .product-details .product-title {
    margin-right: 20px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.product .product-details .product-description {
    margin: 5px 20px 5px 0;
    line-height: 1.4em;
}

.product .product-quantity input {
    width: 40px;
}

.product .remove-product {
    border: 0;
    padding: 8px 12px;
    background-color: #ff0000;
    color: #fff;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
    font-size: 16px;
    border-radius: 3px;
}


.product .remove-product:hover {
    background-color: #5f5f5f;
}


/* Totals section */
.totals .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}

.totals .totals-item label {
    float: left;
    clear: both;
    width: 79%;
    text-align: right;
}

.totals .totals-item .totals-value {
    float: right;
    width: 21%;
    text-align: right;
}

.totals .totals-item-total {
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
    width: 170px;
    float: right;
    /*border: 0;*/
    margin-top: 20px;
    padding: 6px 25px;
    /*background-color: #3d3e3d;*/
    /*color: #fff;*/
    font-size: 20px;
    border-radius: 5px;
}

/*.checkout:hover {*/
/*    !*background-color: #28a745;*!*/
/*}*/

.continue_shipping {
    width: 200px;
    float: right;
    /*border: 0;*/
    margin-top: 20px;
    margin-right: 15px;
    padding: 6px 25px;
    /*background-color: #28a745;*/
    /*color: white;*/
    font-size: 14px;
    border-radius: 5px;
}

.continue_shipping:hover {
    /*background-color: white;*/
    /*color: #28a745;*/
    /*border: 1px;*/
    /*border-color: #4CAF50;*/
}

@media screen and (max-width: 411px) {
    .continue_shipping {
        margin-right: 0;
        margin-left: 15px;
    }
}

/* Done by anri for ...*/
.shopping_cart_header {
    display: block;

}

/**/


/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
    .shopping-cart {
        margin: 0;
        border-top: 1px solid #eee;
        padding: 20px 10px 10px;
    }

    .column-labels {
        display: none;
    }

    .product-image {
        float: right;
        width: auto;
    }

    .product-image img {
        margin: 0 0 10px 10px;
    }

    .product-details {
        float: none;
        margin-bottom: 10px;
        width: auto;
    }

    .product-price {
        clear: both;
        width: 70px;
    }

    .product-quantity {
        width: 100px;
    }

    .product-quantity input {
        margin-left: 20px;
    }

    .product-quantity:before {

    }

    .product-removal {
        width: auto;
    }

    .product-line-price {
        float: right;
        width: 70px;
    }
}

/*added by anri stull in develop,ment*/
/*@media screen and (min-width: 1000px) {*/
/*    .shopping-cart {*/
/*        position: absolute;*/

/*        width: 80%;*/
/*        left: 18%;*/
/*    }*/

/*}*/


/* Make more adjustments for phone */
@media screen and (max-width: 320px) {
    .product-removal {
        float: right;
    }

    .product-line-price {
        float: right;
        clear: left;
        width: auto;
        margin-top: 10px;
    }

    .product .product-line-price:before {
        content: 'ჯამი:';
    }

    .totals .totals-item label {
        width: 60%;
    }

    .totals .totals-item .totals-value {
        width: 40%;
    }
}



.shopping-cart {
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
    border: 1px solid #C0C0C0;

    /*padding: 20px;*/
    /*width: 200px;*/
    /*height: 150px;*/
}

@media screen and (max-width: 870px) {
    .shopping-cart {
        width: 99%;
        margin-left: 0.5%;
    }
}




/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}






/* Hover Dropdown */

.hoverdropdown1:hover>.dropdown-menu {
    display: block;
    top: 100%;
}


.hoverdropdown2:hover>.dropdown-menu {
    display: block;
    top: 100%;
}

.dropdown-menu {
    min-width: 3rem;
}

#sticky-footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    height: 180px;
    color: rgba(255,255,255,.5);
}
/*end of hover Dropdown*/




/*scroll up*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #28a745;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    left: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #28a745;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
/*end of scroll up*/





/*navbar elements*/

.badge:hover {
    background-color: #28a745;
    color: white;
}

.nav-item .nav-link:hover {
    color: #28a745!important;
}
.native {
    align-items: center;
    display: flex;
}
@media screen and (max-width: 3000px) {
    .justify-content-end {
        padding-left: 730px;
        margin-right: -730px;
    }
}
@media screen and (max-width: 2900px) {
    .justify-content-end {
        padding-left: 700px;
        margin-right: -700px;
    }
}
@media screen and (max-width: 2850px) {
    .justify-content-end {
        padding-left: 650px;
        margin-right: -650px;
    }
}
@media screen and (max-width: 2700px) {
    .justify-content-end {
        padding-left: 580px;
        margin-right: -580px;
    }
}
@media screen and (max-width: 2500px) {
    .justify-content-end {
        padding-left: 560px;
        margin-right: -560px;
    }
}
@media screen and (max-width: 2400px) {
    .justify-content-end {
        padding-left: 520px;
        margin-right: -520px;
    }
}
@media screen and (max-width: 2300px) {
    .justify-content-end {
        padding-left: 490px;
        margin-right: -490px;
    }
}
@media screen and (max-width: 2200px) {
    .justify-content-end {
        padding-left: 460px;
        margin-right: -460px;
    }
}
@media screen and (max-width: 2100px) {
    .justify-content-end {
        padding-left: 420px;
        margin-right: -420px;
    }
}
@media screen and (max-width: 2000px) {
    .justify-content-end {
        padding-left: 390px;
        margin-right: -390px;
    }
}
@media screen and (max-width: 1900px) {
    .justify-content-end {
        padding-left: 360px;
        margin-right: -360px;
    }
}
@media screen and (max-width: 1850px) {
    .justify-content-end {
        padding-left: 330px;
        margin-right: -330px;
    }
}
@media screen and (max-width: 1750px) {
    .justify-content-end {
        padding-left: 285px;
        margin-right: -285px;
    }
}
@media screen and (max-width: 1590px) {
    .justify-content-end {
        padding-left: 230px;
        margin-right: -230px;
    }
}
@media screen and (max-width: 1440px) {
    .justify-content-end {
        padding-left: 180px;
        margin-right: -180px;
    }
}
@media screen and (max-width: 1300px) {
    .justify-content-end {
        padding-left: 150px;
        margin-right: -150px;
    }
}
@media screen and (max-width: 1200px) {
    .justify-content-end {
        padding-left: 100px;
        margin-right: -100px;
    }
}
@media screen and (max-width: 1020px) {
    .justify-content-end {
        padding-left: 80px;
        margin-right: -80px;
    }
}
@media screen and (max-width: 992px) {
    .justify-content-end {
        padding-left: 0;
        margin-right: 0;
    }
}
/*end of navbar elements*/


.quantity{
	display: inline-block;
	/*font-weight: 700;*/
	padding-right:10px;
}
.left {
    float: left;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}






.mail {
    display: inline-block;
    margin-left: 79%;
    font-family: Verdana;
    color: rgba(255,255,255,.5);
}
.mail a{
    font-size: 14px;
    color: rgba(255,255,255,.5);
}
.mail a:hover{
    color: #28a745;
    text-decoration-color: transparent;
}
@media screen and (max-width: 1650px) {
    .mail {
        margin-left: 75%;
    }
}
@media screen and (max-width: 1450px) {
    .mail {
        margin-left: 75%;
    }
}
@media screen and (max-width: 1350px) {
    .mail {
        margin-left: 75%;
    }
}

@media screen and (max-width: 1250px) {
    .mail {
        margin-left: 7.5%;
    }
}


.form-control:focus {
    box-shadow: 0px 0px 0px 0px #ffffff !important;
    border-color: #4ca746
}